# default:
.idea/
.vscode/
.build/
.cache/
__pycache__/
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/

# Static directory for uploading file
/audio/

#poetry:
poetry.lock

# virtual environments:
.env

# Migrations:
alembic.ini
alembic/

